h1 {
    font-family: Arial, sans-serif;
    font-size: 20px;

}

#logo {
    max-width: 10vw;
    max-height: 10vh;
    width: auto;
    height: auto;
    display: block;
    grid-row: 1;
    grid-column: 2;
    align-content: center;
    text-align: center;
    cursor: pointer;
   }

   #logoimage {
    max-width: 10vw;
    max-height: 10vh;
    width: auto;
    height: auto;
    display: block;
    grid-row: 1;
    grid-column: 2;
    align-content: center;
    text-align: center;
    cursor: pointer;
   }

main {
    margin-top: 18vh;
    margin-bottom: 14vh;
    margin-left: 4vw;
    margin-right: 4vw;
    text-align: left;
}

#findMatchButton {
    max-width: 50%;
}

.material-icons {
    cursor: pointer;
   }

