.main {
    font-family: Arial, sans-serif;
    background-color: #e0f0ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    margin-top: 30vh;
}

.header {
    margin-bottom: 30vh;
}
